/* broad strokes */

body {
    margin: 0;
    background-color: #EBEBD9;
}

header {
    background-color: rgb(14, 95, 64);
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Concert One', cursive;
    margin: 0;
}

h4 {
    font-family: 'Concert One', cursive;
    text-align: center;
    color: white;
    font-size: 1.26em;
    margin-top: 10px;
}

h5 {
    font-size: .95em;
    color: white;
    font-family: 'Concert One', cursive;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-gap: 20px;
    height: 600px;

}

/* 3 main windows */

.leftSide {
    grid-column: 1/ span 1;
    grid-row: 1/ span 4;
    padding: 10px;
    background-color :hsl(158, 23%, 63%);
    border-radius: 35px;
    margin-top: 15px;
    box-shadow: 5px 10px 2px rgb(14, 95, 64);

}

.rightOne {
    display: flex;
    justify-content: center;
    grid-column: 2/ span 2;
    grid-row: 1/ span 2;
    background-color :hsl(158, 23%, 63%);
    border-radius: 35px;
    margin-top: 15px;
    box-shadow: 10px 10px 2px  rgb(14, 95, 64);
}

.rightTwo {
    display: flex;
    justify-content: center;
    grid-column: 2/ span 2;
    grid-row: 3/ span 2;
    background-color :hsl(158, 23%, 63%);
    border-radius: 35px;
    margin-top: 15px;
    box-shadow: 10px 10px 2px  rgb(14, 95, 64);
    margin-left: 0;
};

/* input & savedSearches */

.cityInput {
    height: 35px;
    width: 75%;
}

.inputDiv {
    display: flex;
    justify-content: center;
}


.searchBtn {
    background-color: blue;
}

.savedDiv {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
    font-family: 'Concert One', cursive;
    align-items: center;

}

.savedBtn {
    color: white;
    font-family: 'Concert One', cursive;
    background-color: rgb(14, 95, 64);
    border-radius: 12px;
    width: 250px;
    margin-top: 7px;
}

.savedBtn:hover {
    background-color: white;
    color: hsl(158, 23%, 63%);
}

/* details in various sections */

.rightWrap {
    border: none;
    background-color :hsl(158, 23%, 63%);
    color: white;
    font-family: 'Concert One', cursive;

}
.card-body {
    font-size: 2.25em;
    color: white;
    font-family: 'Concert One', cursive;
}

.conditions {
    background-color :hsl(158, 23%, 63%);
    color: white;
    font-family: 'Concert One', cursive;
    list-style-type: none;
    margin-top: 60px;
    font-size: 1.5em;
}

.card {
    background-color :hsl(158, 23%, 63%);
    border: none;
}
